/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reset */

body {
  font-family: 'Fredoka', sans-serif;
}

/* Header */
.contenitore-titolo {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}

h1,
h2,
h3 {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  color: #e53170;
}

.testo-header {
  margin-top: 30px;
  font-size: 15px;
}
/* Header */

/* Main */
.contenitore {
  max-width: 1000px;
  margin: 40px auto;
}

.clearfix {
  display: block;
  content: '';
  clear: both;
}

/* immagini più info */
.struttura {
  height: 100px;
  width: calc(100% / 3 - 20px);
  background-color: #0f0e17;
  float: left;
  margin: 10px;
}

.immagini {
  float: left;
  width: 100px;
}

.info {
  float: left;
  width: calc(100% / - 1000px);
  color: #fffffe;
  font-size: 10px;
  padding: 10px 10px;
}

.immagini img {
  width: 100%;
}

span {
  display: inline-block;
  font-size: 13px;
  padding-top: 5px;
}

a {
  display: block;
  font-size: 13px;
  padding-top: 5px;
}
/* immagini più info */
